extends layout.pug
include utils.pug
block content
  div
    table
      head
        script(src='../javascripts/answerDom.js' type="module")
        link(rel="stylesheet" href="/stylesheets/singleQuestion.css")
      body
        div(class= 'singleq_container')
          div(class= 'question-box')
            div(id=`question-container-${question.id}`).single-question-container
              h1(id=`${question.id}-title`)= question.title
              div#questionh1
                h2#questionh2 Question:
                p(id=`${question.id}-question`)= question.question
                if loggedInUser === question.userId
                    label Title
                    div
                    textarea(cols="80", rows="1" type="text" name="title" value=question.title id=`${question.id}-edit-title`)
                    div
                    label Question
                    div
                    textarea(cols="80", rows="10" type="text" name="question" value=question.question id=`${question.id}-edit-question`)
                    div
                    button(class='edit-btn' id=`edit-question-${question.id}`) Edit Question
                    button(class='delete-btn' id=`delete-question-${question.id}`) Delete Question
                h2 Submitted answers:
                div(id=`answers-container-${answers.id}`).answers-container
                  each a in answers
                    div(id=`answer-container-${a.id}`).single-answer.container
                      if loggedInUser === question.userId
                        h3(id=`${a.id}`)=a.answer
                        button(class='delete-btn-answer' id=`delete-answer-${a.id}`) Delete Answer
                      else
                        h3(id=`${a.id}`)=a.answer
              if locals.authenticated
                div(class="answer-btn" id=`answer-question-${question.id}`).answer-area.container
                    form(id='answerform' method='POST' action='/answer')
                    input(type='hidden' name='userId' value=`${userId}`)
                    textarea(type='text' value= '' id= 'Answer-submit-form' cols="80", rows="10")
                    div
                      input(class= 'button' id= 'Answer-submit-btn' type='submit' value='Leave Answer' onClick="document.location.reload(true)")
